<!DOCTYPE html>
<html>
<head>
  <title>New Sails App</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>3 Boxes</title>
  <meta name="description" content="">
  <meta name="author" content="ink, cookbook, recipes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link rel="stylesheet" href="/styles/custom.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/ink-flex.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/font-awesome.min.css">
  <script type="text/javascript" src="/js/ink//holder.js"></script>
  <script type="text/javascript" src="/js/ink/ink-all.min.js"></script>
  <script type="text/javascript" src="/js/ink/autoload.js"></script>
<body id="allbody">
<div class="ink-grid ">
  <header>
      <h1> IOT Bakend </h1>

  </header>
</div>
<nav class="ink-navigation " id="navs" >
  <ul class="menu horizontal">
    <div class="push-right">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Iniciar Sesion/Registro</a></li>
      <li><a href="#">Acerca de</a></li>
    </div>
  </ul>
</nav>
<%- body %>
</body>

</html>
